<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false">
        <appender name="ROLL" class="org.apache.log4j.RollingFileAppender">
                <param name="file" value="logs/park.log" />
                <param name="append" value="true" />
                <param name="encoding" value="UTF-8" />
                <layout class="org.apache.log4j.PatternLayout">
                        <param name="ConversionPattern" value="%5p %d{ISO8601} [%t][%x] %c : %n%m%n" />
                </layout>
        </appender>
        <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
                <param name="Target" value="System.out" />
                <layout class="org.apache.log4j.PatternLayout">
                        <param name="ConversionPattern" value="%5p %d{ISO8601} [%t][%x] %c : %n%m%n" />
                </layout>
        </appender>
        <root>
                <priority value="info" />
                <appender-ref ref="ROLL" />
                <appender-ref ref="CONSOLE" />
        </root>
</log4j:configuration>